<div class="container-fluid" id="rodape">
    <div class="row">
        <div class="col-xs12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna1">
            <h4>Revenda Natura</h4>
        </div>

        <div class="col-xs12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna2">
            <h6>Entre em contato</h6>
            <p><i class="fab fa-whatsapp fa-1x"></i> (92) 9999-9999</p>
            <p><i class="far fa-copyright"></i> Leticia Ribeiro</p>
        </div>

        <div class="col-xs12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" id="coluna3">
            <h6>Redes Sociais</h6>
            <p> <i class="fab fa-instagram"></i> @naturassp</p>
            <p> <i class="fas fa-hashtag"></i> naturassp</p>
        </div> 
    </div>
</div>