<div class="container" *ngIf="idPedido != 0">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Recebemos o seu pedido ❤</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h3>Número do pedido: {{idPedido}}</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h4>Obrigada por comprar com a gente</h4>
            <p>Em breve estaremos enviando para o seu endereço</p>
            <p>Qualquer dúvida, pode deixar que a gente te avisa tuudo 😊</p>
        </div>
    </div>
</div>